<div class="card">
  <div>
    <div class="myrow">
      <div class="col card-body">
        <h5 class="card-title">#{{pokemon?.details?.id}} {{pokemon.name | titlecase }}</h5>
        <span
        *ngFor="let type of pokemon?.details?.types"
        class="badge rounded-pill bg-light text-dark ">{{type.type.name}}
      </span>

      </div>
      <app-list-loader [isLoading]="!pokemon?.details"></app-list-loader>
      <img
      *ngIf="pokemon?.details"
      class="col" src="{{pokemon?.details?.sprites.other['official-artwork'].front_default}}" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
